<!DOCTYPE html>
<html lang="en" th:replace="~{layouts/main :: layout(~{::main})}" xmlns:th="http://www.thymeleaf.org">

<body>
<main role="main">
    <div class="container">
        <div class="row">
            <div class="col-md-12 py-4">
                <h2>Customers List</h2>
                <a href="#" th:href="@{/customers/create}" type="button" class="btn  col-md-1 btn-sm"><i class="fas fa-plus"> Add Customer</i></a>
                <div th:replace="~{fragment/customerTable :: customertable}"></div>
            </div>
        </div>
    </div>
</main>
</body>
</html>